
NODE_ENV=development
PORT=5000

# MongoDB

# JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_REFRESH_EXPIRES_IN=30d

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# Cloudinary (for product image upload)
# Default Admin 
ADMIN_NAME=Super Admin
ADMIN_EMAIL=rakib@gmail.com
ADMIN_PASSWORD=admin1234

# CORS
CLIENT_URL=http://localhost:5173
